<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    


</head>
<body>

    <nav>
        <a href="#" class="Design" >Design</a>
        <a href="#" class="goToWW" >Warp & Weft Def.</a>
        <button class="goToSW">Simple Weaves</button>
        <button class="goToCW">Combined Weaves</button>
        <button class="goToLD">Loom Def.</button>
        <button class="goToEx">Export</button>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <script type="text/javascript">
        $('.goToWW').click(function(){
        $.ajax(
        {
            type:"POST",
            url: window.location.href,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                'xx':'xx3'
            },
            success: function( data ) 
            {
                window.location.href="/ww"
            }
            
         })
        });
        </script>
     
     <script type="text/javascript">
        $('.Design').click(function(){
        $.ajax(
        {
            type:"POST",
            url: window.location.href,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                'xx':'xx3'
            },
            success: function( data ) 
            {
                window.location.href="/dn"
            }
            
         })
        });
        </script>
     

    {% block content %}{% endblock content %}

</body>
</html>