<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <button onclick="goToDN()">Design</button>
        <button onclick="goToWW()">Warp & Weft Def.</button>
        <button onclick="goToSW()">Simple Weaves</button>
        <button onclick="goToCW()">Combined Weaves</button>
        <button onclick="goToLD()">Loom Def.</button>
        <button onclick="goToEx()">Export</button>
    </nav>
    {% block content %}{% endblock content %}

</body>
</html>